/* @TODO Otimizar a importação das fontes com um único link */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&display=swap');

/* pt -> Pontos de tipografia 
padrão ABNT -> Arial 12pt 
mm -> milímetro
cm -> centímetro */

/* Alguns valores de propriedades não tem unidade de medida.
   Exemplo: line-height, aspect-ratio, font-weight */

* {
    /* "*" -> todos os elementos aplicáveis */
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    /* box-sizing: como o CSS calcula o tamanho dos elementos */
}

:root {
    /* root -> elemento raiz (html), mais alta hierarquia */
    font-size: 16px; /* tamanho base do rem -> 1rem = 16px */
    scroll-behavior: smooth;  /* comportamento da rolagem: suave */
    --padding-padrao-secao: 40px;
}

[data-tema="light"] {
    --plano-fundo: #ffffff;
    --cor-primaria-texto: #353535;
    --cor-fundo-tags: #bebebe;
    --cor-fundo-apresentacao: #ecb3b3;
    --cor-fundo-formacaoAcademica: #cdf0cd;
    --cor-fundo-experienciaProfissional: #fff2e3;
}

[data-tema="dark"] {
    --plano-fundo: #353535;
    --cor-primaria-texto: #ffffff;
    --cor-fundo-tags: #353535;
    --cor-fundo-apresentacao: #9f3478;
    --cor-fundo-formacaoAcademica: #036d03;
    --cor-fundo-experienciaProfissional: #e67f09;
}

body {
    width: 80vw;
    margin: auto;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    background-color: var(--plano-fundo);
}

.nome-curriculo {
    font-family: "Anta", sans-serif;
    font-size: 3rem;
    margin: 2rem 1rem 3rem 4rem;
    color: var(--cor-primaria-texto);
}

section {
    padding: 40px 0;
}

section p {
    color: var(--cor-primaria-texto);
}

#apresentacao {
    background-color: var(--cor-fundo-apresentacao);
}

#formacaoAcademica {
    background-color: var(--cor-fundo-formacaoAcademica);
}

#experienciaProfissional {
    background-color: var(--cor-fundo-experienciaProfissional);
}

#hardSkills {
    background-color: #c4e5e5;
}

#softSkills {
    background-color: #e9eccc;
}

#idiomas {
    background-color: #ecb3e4;
}

#apresentacao,
#formacaoAcademica,
#experienciaProfissional,
#hardSkills,
#softSkills,
#idiomas {
    margin: 5rem 0;
    padding: var(--padding-padrao-secao);
}

/* @TODO 
    1. estilizar as demais seções - OK
    2. estilizar elementos article - OK
    3. tirar as sombras de texto - OK
 */

#tecnologias {
    display: flex;
    /* exibe como caixa flexível (Flexbox) */
    /* Flexbox tem várias propriedades que trabalham junto */
    justify-content: space-between;
    /* alinha o conteúdo no eixo principal */
}

/* Combinadores */

article h1 {
    /* h1 descendente de article */
    font-size: 2rem;
    font-weight: bold;
    /* bold = 700 */
    margin: 0 0 1rem 0;
    color: var(--cor-primaria-texto);
}

article h2 {
    /* h2 descendente de article */
    font-size: 1.5rem;
    font-weight: 600;
    /* demi-bold (quase negrito) */
    margin: 0 0 1rem 0;
    color: var(--cor-primaria-texto);
}

.autor {
    font-style: oblique;
    font-weight: 600;
    font-size: 80%;
}

.data {
    font-style: oblique;
    font-size: 80%;
}

.continue-lendo {
    background-color: #483d8b;
    padding: .5rem 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
}

article p {
    text-align: justify;
    margin-bottom: 1rem;
    height: 150px;
    overflow: hidden; /* transbordamento: escondido*/
}

article {
    width: 30%;
    /* 30% do pai (section id="tecnologias") */
    background-color: #cecece;
    padding: 2rem;
}

.titulo-secao {
    text-transform: uppercase;
    /* transforma o texto em maiúsculas */
    font-family: "Anta", sans-serif;
    color: var(--cor-primaria-texto);
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
    /* valores: cima direita baixo esquerda */
    padding: 0;
    /* valores: cima direita baixo esquerda */
    /* text-shadow: 1px 1px 2px dimgray; */
}

p {
    line-height: 1.5;
    /* altura da linha: 1.5x o tamanho padrão */
    margin: 1rem 0;
    /* valores: cima-baixo esquerda-direita */
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 1rem 0;
    color: var(--cor-primaria-texto);
    /* text-shadow: 1px 1px 2px dimgray; */
}

.lista-tags li {
    display: inline-block;
    background-color: var(--cor-fundo-tags);
    padding: 5px;
    border-radius: 4px;
    margin: 5px;
    color: var(--cor-primaria-texto);
}